doctype html
meta(charset='utf-8')

title OCR with Dropzone

script(src='/dropzone.js')
link(rel='stylesheet', href='/dropzone.css')

body
  h1 Character Recognition Demo
  p Drag and drop a picture below or click on the box to upload a file
  p Images must be: JPEG, PNG, GIF, or BMP
  form(action='/upload', method='post', class='dropzone', enctype='multipart/form-data')
