doctype html
meta(charset='utf-8')

head
  title OCR Demonstration

  // Dropzone js + css
  script(src='/dropzone.js')
  link(rel='stylesheet', href='/dropzone.css')
      
  // Dropzone config
  script.
    Dropzone.options.myAwesomeDropzone = {
      init: function() {
        this.on("success", function(file, response) {
          console.log("completed upload + OCR!");
          console.log(response);
          document.getElementById('response-data').innerText = response;
        });
        this.on("removedfile", function(file, response) {
          console.log('removed file!');
          document.getElementById('response-data').innerText = '';
        });
        this.on("addedfile", function() {
          if (this.files[1] != null) {
            console.log('addedfile event handler reached!!');
            this.removeFile(this.files[0]);
          }
        });
      },
      maxFilesize: 4, 
      addRemoveLinks: true,
      thumbnailWidth: null,
      thumbnailHeight: 600
     } 

  // loading Abel font
  style.
    @import url('https://fonts.googleapis.com/css?family=Abel');

  // page sytling
  style.
    body {background-color: black;}
    h1 { 
      color: #ffd400;
      background-color: black;
      font-family: Abel, sans-serif;
      font-size: 40px;
      text-align: center;
    }
    p {
      color: white;
      background-color: black;
      font-family: Abel, sans-serif;
      font-size: 20px;
      text-align: center;
    }
    #response-data {
      color: white;
      background-color:black;
      font-family: Abel, sans-serif;
      font-size: 30px;
      text-align: center;
    }

body
  h1 Nightingale Security Character Recognition Demo
  p Drag and drop or click on the box below to upload a picture 
  form(action='/upload', method='post', class='dropzone', id='myAwesomeDropzone', enctype='multipart/form-data')
  div(id='response-data')
